body{
  margin: 0;
  padding: 0;
}

.container{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: url(../img/background.jpg);

  /**
  * 背景图的位置是固定于视口
  * 值为：scroll【背景图滚动】
  *       local【滚动元素背景图滚动】
  *       fixed:【背景图静止】
  *       以及多个参数
  **/
  background-attachment: fixed;
}